@import "../constants";

@media screen and (min-width: $max-mobile-width) /* Desktop */ {
	
	.auxGrid {
		
		display: flex;
		flex-flow: row nowrap;
		
		box-sizing: border-box;
		
	}
	
}

@media only screen and (max-width: $max-mobile-width) /* Mobile */ {
	
	.auxGrid {
		
		display: flex;
		flex-flow: row nowrap;
		
		box-sizing: border-box;
		
	}
	
}