@import "../constants";


.aux {
	
	border-bottom: solid $standard-margin $space-grey;
	
	font-weight: 400;
	
}

div.auxGrid {
	
	dh-auxiliary:nth-child(1) .aux {
		
		border-right: solid $standard-margin $space-grey;
		
	}
	
	dh-auxiliary:nth-child(2) .aux {
		
		border-right: solid $standard-margin $space-grey;
		
	}
	
}

.dot {
	
	border-bottom: 0;
	
}

