@import "../constants";

@media screen and (min-width: $max-mobile-width) /* Desktop */ {
	
	.aux {
		
		font-weight: 400;
		
	}
	
	div.auxGrid {
		
		dh-auxiliary:nth-child(n) .aux {
			
			border-right: solid $standard-margin $space-grey;
			border-bottom: solid $standard-margin $space-grey;
			
		}
		
		dh-auxiliary:nth-child(3) .aux {
			
			border-right: 0;
			
		}
		
	}
	
	.dot {
		
		border-bottom: solid 0 red;
		
	}
	
}

@media only screen and (max-width: $max-mobile-width) /* Mobile */ {
	
	
	.aux {
		
		//border-bottom: solid $standard-margin $space-grey;
		
		font-weight: 300;
		font-size: 150%;
		
	}
	
	div.auxGrid {
		
		dh-auxiliary:nth-child(n) .aux {
			
			border-right: solid $standard-margin $space-grey;
			border-bottom: solid $standard-margin $space-grey;
			
		}
		
		dh-auxiliary:nth-child(3) .aux {
			
			border-right: 0;
			
		}
		
	}
	
	.dot {
		
		border-bottom: solid 0 red;
		
	}
	
}

