@import "../constants";


.aux {
	
	//border-bottom: solid $standard-margin $space-grey;
	
	font-weight: 400;
	
}

div.auxGrid {
	
	dh-auxiliary:nth-child(n) .aux {
		
		border-right: solid $standard-margin $space-grey;
		border-bottom: solid $standard-margin $space-grey;
		
	}
	
	dh-auxiliary:nth-child(3) .aux {
		
		border-right: 0;
		
	}
	
}

.dot {
	
	border-bottom: solid 0 red;
	
}

