@import "../constants";

.boardGrid {
	
	position: relative;
	box-sizing: border-box;
	
	height: $button-height * 1.5;
	
	background: $space-grey;
	color: white;
	
	font-size: 200%;
	font-weight: 100;
	
}

#digitBox {
	
	position: absolute;
	
	box-sizing: border-box;
	padding: $standard-padding * 2;
	
	bottom: 0;
	right: 0;
	
}