@import "../constants";


.dh-btn {
	
	display: inline-flex;
	
	box-sizing: border-box;
	
	flex-direction: row;
	flex-wrap: nowrap;
	
	justify-content: center;
	align-items: center;
	align-content: center;
	
	height: $button-height;
	width: $button-width;
	
	color: black;
	background: #CCCCCC;
	
	&:active {
		
		background: #A3A3A3;
		
	}
	
}
