@import "../constants";

$basic-button-width: $button-width * $basic-button-per-row;
$basic-button-margin: $standard-margin * $basic-button-per-row * 2;
$basic-width: $basic-button-width + $basic-button-margin;

.calculatorGrid {
	
	display: flex;
	flex-flow: column nowrap;
	
	width: $basic-width;
	
	background: red;
	
	font-family: $droid-sans-mono;
}

.processes {
	
	display: flex;
	flex-flow: row nowrap;
	
}

.auxNumberGrid {
	
	display: flex;
	
	flex-flow: column nowrap;
	
}
