@import "../constants";

$number-button-per-row: 3;
$total-number-buttons-width: $button-width * $number-button-per-row;
$total-number-buttons-margins: $standard-margin * $number-button-per-row * 2;
$number-grid-width: $total-number-buttons-width + $total-number-buttons-margins;

.numberGrid {
	
	display: flex;
	
	flex-direction: row;
	flex-wrap: wrap;
	
	width: $number-grid-width;
	
	background: dimgrey;
	
}
