@import "../constants";

$total-number-buttons-width: $button-width * $number-button-per-row;
$number-grid-width: $total-number-buttons-width;

.numberGrid {
	
	display: flex;
	box-sizing: border-box;
	
	flex-direction: row;
	flex-wrap: wrap;
	
	width: $number-grid-width;
	
}
