@import "../constants";

$double-width: $button-width * 2;
$zero-width: $double-width;


@media screen and (min-width: $max-mobile-width) /* Desktop */ {
	
	.number {
		
		background: #D9D9D9;
		
		border-bottom: solid $standard-margin $space-grey;
		
		font-size: 150%;
		font-weight: 300;
		
	}
	
	div.numberGrid {
		
		dh-number:nth-child(3n + 1) .number {
			
			border-right: solid $standard-margin $space-grey;
			
		}
		
		dh-number:nth-child(3n + 2) .number {
			
			border-right: solid $standard-margin $space-grey;
			
		}
		
		dh-number:nth-child(3n + 3) .number {
			
			
		}
		
		dh-number:nth-child(n + 10) .number {
			
			border-bottom: 0;
			
		}
		
	}
	
	
	.zero {
		
		width: $zero-width;
		
	}
	
}

@media only screen and (max-width: $max-mobile-width) /* Mobile */ {
	
	.number {
		
		background: #D9D9D9;
		
		border-bottom: solid $standard-margin $space-grey;
		
		font-size: 200%;
		font-weight: 300;
		
	}
	
	div.numberGrid {
		
		dh-number:nth-child(3n + 1) .number {
			
			border-right: solid $standard-margin $space-grey;
			
		}
		
		dh-number:nth-child(3n + 2) .number {
			
			border-right: solid $standard-margin $space-grey;
			
		}
		
		dh-number:nth-child(3n + 3) .number {
			
			
		}
		
		dh-number:nth-child(n + 10) .number {
			
			border-bottom: 0;
			
		}
		
	}
	
	
	.zero {
		
		width: calc(75vw / 3);
		
	}
	
}
