@import "../constants";

$total-number-buttons-width: $button-width * $number-button-per-row;
$number-grid-width: $total-number-buttons-width;

@media screen and (min-width: 980px) /* Desktop */ {
	
	.numberGrid {
		
		display: flex;
		box-sizing: border-box;
		
		flex-direction: row;
		flex-wrap: wrap;
		
		width: $number-grid-width;
		
	}
	
}

@media only screen and (max-width: $max-mobile-width) /* Mobile */ {
	
	.numberGrid {
		
		display: flex;
		//box-sizing: border-box;
		
		flex-direction: row;
		flex-wrap: wrap;
		
		width: 75vw;
		
	}
	
	#dot {
		
		width: calc(75vw / 3 * 2);
		
	}
	
}
