@import "../constants";

.operation {
	
	background: $space-orange;
	
	color: white;
	font-size: 140%;
	
	border-bottom: solid $standard-margin $space-grey;
	border-left: solid $standard-margin $space-grey;
	
}



div.operationGrid {
	
	dh-operation:last-child  .operation {
		
		border-bottom: 0;
		
	}
	
}
