@import "../constants";

.operation {
	
	background: $space-orange;
	
	color: white;
	font-size: 170%;
	font-weight: 300;
	
	border-bottom: solid $standard-margin $space-grey;
	border-left: solid $standard-margin $space-grey;
	
	&:active {
		
		background: #B5601C;
		color: #6F655B;
		
		border: solid $standard-margin #6F655B;
		
	}
	
}



div.operationGrid {
	
	dh-operation:last-child  .operation {
		
		border-bottom: 0;
		
	}
	
}
