$standard-padding: 5px;
$standard-margin: 5px;
$standard-border-size: 5px;

$button-width: 50px;
$button-height: 50px;

$droid-sans-mono: 'Droid Sans Mono', monospace;

// Calc Constants

$number-button-per-row: 3;
$operation-button-per-row: 1;
$basic-button-per-row: $number-button-per-row + $operation-button-per-row;
