$standard-padding: 5px;
$standard-margin: 1px;
$standard-border-size: 5px;

$button-width: 58px;
$button-height: 48px;

$lato: 'Lato', sans-serif;
$quicksand: 'Quicksand', sans-serif;

$grey-accent: #7B7B7B;
$space-grey: #3B3B3B;
$space-orange: #F37F27;

// Calc Constants

$number-button-per-row: 3;
$operation-button-per-row: 1;
$basic-button-per-row: $number-button-per-row + $operation-button-per-row;
