// Styles here or in any other .less files in the app folder

@import "constants";
@import "reset";

html, body {
	
	height: 100%;
	
	font-family: $quicksand;
	
}

.instructions {
	
	padding: $standard-padding * 5;
	font-size: 120%;
	
}

.calc-container {
	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)

}

